version: 2
updates:
- package-ecosystem: gomod
  directory: /
  schedule:
    interval: weekly
    day: saturday
    time: '03:00'
    timezone: Australia/Sydney
  target-branch: main
  open-pull-requests-limit: 10
