# Binaries for programs and plugins.
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`.
*.test

# Output of the go coverage tool, specifically when used with LiteIDE.
*.out

# Text editors/IDEs.
__debug_bin
.vscode/
.idea/

# CDK asset staging directory
.cdk.staging
cdk.out

# Directories.
dist/
node_modules/

# Files.
*.env
*.js
!jest.config.js
*.d.ts